body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.dog {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  line-height: 1.7;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.7;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
}

p {
  color: #8f8f8f;
  font-size: 1rem;
}

/* Navigation bar  */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* feature section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%
}

.icons {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icons:hover {
  color: #ff4c68;
}

/* testimonials section */

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;

}

.press-logo {
  width: 13%;
  margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}


@media (max-width: 1288px) {

  #title {
    text-align: center;
  }

  .dog {
    position: static;
    transform: rotate(0);
  }
}

/* call to action */

#cta {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding-bottom: 90px;
}

.cta-h3 {
  font-size: 5.5rem;
  line-height: 1.4;
  padding-top: 60px;
}

/* Footer */

#footer {
  background-color: #fff;
  padding: 100px;
  text-align: center;
}

.fan {
  color: #222831;
  width: 30px;
  padding-bottom: 25px;
}
